# Byte-compiled and cached files
__pycache__/

# Virtual environments
venv/
*venv/

# Environment files
.env
*.env

# Python package files
dist/
build/
*.egg-info/
*.eggs/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS-specific files
.DS_Store
Thumbs.db

# Excluded directories

